body
{
    background: #D3E0DC;
    font-family: Helvetica, sans serif;
    font-size: 90%;
    color:#222; 
}

#container {
    width: 700px;
    margin:0 auto;
    /* CSS3 round corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}

#container h1 {
	background-position: 0px center;
	background-repeat: no-repeat;
    background-image:url(/static/images/notes.png);
    padding-left:60px;
    font-size: 40px;
    margin-top:0; 
    line-height: 80px;
    vertical-align: middle;
}


#timer {
    padding: 5px;
    padding-right: 0px;
    font-size: 1.5em;
    float: right;
}

/* from blueprint css files */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}

.pagination {text-align:center;}

/* Tables
-------------------------------------------------------------- */
table {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table thead tr th{
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}

table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table tbody tr.even td {
	background-color:#F0F0F6;
}
table tbody tr.highlight td {
	background-color:#E6EFC2;
}

#result a { color: #003366; }

#answers label 
{
    color: #111;
    display: block;
    margin-bottom: 2px;
	padding: 0.5em;
	padding-left: 32px;
	background-position: 8px center;
	background-repeat: no-repeat;
	border: 1px solid #aaa;
	clear: both;
	cursor: pointer;
}

.selected
{
	background-color: #ccc;
    background-image: url(/static/images/rdo_on.png);
}

.unselected
{
	background-color: #eee;
    background-image: url(/static/images/rdo_off.png);
}
