<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Music Quiz</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/sprintf.js"></script>
</head>
<body>
<div id="container">
    <h1>Music Quiz</h1>
    {% block content %}
    <p>Welcome to Music Quiz website.
    {% if current_game and not current_game.is_game_finished %}
        <h2>Continue</h2>
        <p>You have not finished your last quiz
        ({{ current_game.remaining_questions }} unanswered questions).
        <a href="{% url musicquiz.quiz.views.question %}">Continue</a></p>
    {% endif %}
    
    <h2>New game</h2>
    <form method="post" action="{% url musicquiz.quiz.views.index %}">
        <p>If you want to start a new game, click this button <input type="submit" value="Start!"/></p>
    </form>
    {% endblock %}
</div>
</body>
</html>
