{% extends 'quiz/index.html' %}

{% block content %}

<script type="text/javascript" src="/static/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="/static/js/mootools-1.2.4.4-more.js"></script>
<script type="text/javascript" src="/static/js/moocheck.js"></script>
<script type="text/javascript" src="/static/js/swfobject.js"></script>
<script type="text/javascript" src="/static/js/quiz.js"></script>

<script type="text/javascript">
    /* default size "425", "356" */
    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF(
        "http://www.youtube.com/v/{{ song.youtube_code }}" 
            + "?enablejsapi=1&playerapiid=ytplayer", 
        "ytapiplayer", "0", "0", "8", null, null, params, atts
    );
</script>

{% if prev_result %}
    <div id="result">
        <p class={{ prev_result.class }}>{{ prev_result.message }}
        
        {% ifequal prev_result.class 'error' %}
            Correct answer was
            <a href="http://www.youtube.com/watch?v={{ prev_result.correct.youtube_code }}"
               target="blank">{{ prev_result.correct.get_label }}</a>
        {% endifequal %}        
        </p>

    </div>
{% endif %}

<div id="timer">
    <img src="/static/images/loader.gif"/>
</div>
<h2>Question</h2>

<p>{{ name }}, can you guess what song is playing?</p>

<div id="ytapiplayer">
    <p class="error">
    You need Flash player 8+ and JavaScript enabled to hear music.
    </p>
</div>

<div id="answers">
    <form method="post" action="" id="answer_form">
    {% for id, title in choices %}
        <label for="id_answer_{{ id }}">
        <input value="{{ id }}" type="radio" id="id_answer_{{ id }}"
               onclick="submitForm()" name="answer"/>
               {{ title }}
        </label>
    {% endfor %}
    <input type="hidden" name="timeout_flag" value="false"/>
    </form>
</div>

{% endblock %}