{% extends 'quiz/index.html' %}

{% block content %}

<script type="text/javascript" src="/static/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="/static/js/mootools-1.2.4.4-more.js"></script>
<script type="text/javascript" src="/static/js/moocheck.js"></script>
<script type="text/javascript" src="/static/js/swfobject.js"></script>
<script type="text/javascript">
    var youtube_code = "{{ question.correct_answer.youtube_code }}";
    var youtube_duration = "{{ question.correct_answer.youtube_duration }}";
</script>
<script type="text/javascript" src="/static/js/quiz.js"></script>



{% if prev_result %}
    <div id="result">
        <p class={{ prev_result.class }}>{{ prev_result.message }}
        
        {% ifnotequal prev_result.class 'success' %}
            Correct answer was
            <a href="http://www.youtube.com/watch?v={{ prev_result.correct.youtube_code }}"
               target="blank">{{ prev_result.correct }}</a>
        {% endifnotequal %}        
        </p>

    </div>
{% endif %}

<div id="timer">
    <img src="/static/images/loader.gif"/>
</div>
<h2>Question ({{ question.number }}/{{ length }})</h2>
<a href="{% url musicquiz.quiz.views.question %}"
   style="clear:both;float: right">Skip question</a>
<p>Can you guess what song is playing?</p>

<div id="ytapiplayer">
    <p class="error">
    You need Flash player 8+ and JavaScript enabled to hear music.
    </p>
</div>

<div id="answers">
    <form method="post" id="answer_form"
          action="{% url musicquiz.quiz.views.question %}">
    {% for id, title in choices %}
        <label for="id_answer_{{ id }}">
        <input value="{{ id }}" type="radio" id="id_answer_{{ id }}"
               onclick="submitForm()" name="answer"/>
               {{ title }}
        </label>
    {% endfor %}
    <input type="hidden" name="remaining_time" value="20.0"/>
    </form>
</div>

{% endblock %}